node_modules

/.cache
/build


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# IDE specific files
.vscode
.idea

# .env file
.env

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

