apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redpanda
spec:
  selector:
    matchLabels:
      app: redpanda
  serviceName: redpanda
  replicas: 1
  template:
    metadata:
      labels:
        app: redpanda
    spec:
      containers:
      - name: redpanda
        image: docker.redpanda.com/redpandadata/redpanda:v24.2.5
        imagePullPolicy: IfNotPresent
        command:
        - rpk
        - redpanda
        - start
        - --mode
        - dev-container
        - --kafka-addr
        - "0.0.0.0:9092"
        - --advertise-kafka-addr
        - "redpanda:9092"
        ports:
        - containerPort: 9092
          name: kafka
        - containerPort: 9644
          name: admin
---
apiVersion: v1
kind: Service
metadata:
  name: redpanda
spec:
  ports:
  - name: kafka
    port: 9092
    targetPort: 9092
  - name: admin
    port: 9644
    targetPort: 9644
  selector:
    app: redpanda