apiVersion: v1
kind: ConfigMap
metadata:
  name: kratos-config
data:
  identity.schema.json: |
    {
      "$id": "https://schemas.ory.sh/presets/kratos/quickstart/email-password/identity.schema.json",
      "$schema": "http://json-schema.org/draft-07/schema#",
      "title": "Person",
      "type": "object",
      "properties": {
        "traits": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "format": "email",
              "title": "E-Mail",
              "minLength": 3
            },
            "name": {
              "type": "object",
              "properties": {
                "first": {
                  "type": "string",
                  "title": "First Name"
                },
                "last": {
                  "type": "string",
                  "title": "Last Name"
                }
              }
            }
          },
          "required": [
            "email"
          ],
          "additionalProperties": false
        }
      }
    }
