apiVersion: v1
kind: ConfigMap
metadata:
  name: kratos-config
data:
  kratos.yml: |
    version: v0.13.0
    dsn: postgres://postgres:postgres@postgres:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4
    serve:
      public:
        base_url: http://localhost:4433/
        cors:
          enabled: true
      admin:
        base_url: http://localhost:4434/
    selfservice:
      default_browser_return_url: http://localhost:3000/
      allowed_return_urls:
        - http://localhost:3000/
      methods:
        password:
          enabled: true
    identity:
      default_schema_id: default
      schemas:
        - id: default
          url: file:///etc/config/kratos/identity.schema.json
  identity.schema.json: |
    {
      "$id": "https://schemas.ory.sh/presets/kratos/quickstart/email-password/identity.schema.json",
      "$schema": "http://json-schema.org/draft-07/schema#",
      "title": "Person",
      "type": "object",
      "properties": {
        "traits": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "format": "email",
              "title": "E-Mail",
              "minLength": 3
            },
            "name": {
              "type": "object",
              "properties": {
                "first": {
                  "type": "string",
                  "title": "First Name"
                },
                "last": {
                  "type": "string",
                  "title": "Last Name"
                }
              }
            }
          },
          "required": [
            "email"
          ],
          "additionalProperties": false
        }
      }
    }
